/*
div {
    border: 1px;
    border-color: black;
    border-style: solid;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

html.body {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
}

header h1 {
    font-size: 40px;
    color: #05445E;
    width: 90%;
    margin: auto;
    padding: 20px 25px 10px 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 1px 0px 1px 0px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: #98D7C2;
    ;
  }
  
  li {
    float: none;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #DDFFE7;
  }
  
  .active {
    background-color: #167D7F;
  }

.content h2 {
    font-size: 28px;
    text-align: center;
    padding: 40px 40px 40px 40px;
}

.content h3 {
    font-size: 22px; 
}

.content {
    width: 90%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 10px;
}

.content img {
    background-image: url(ovi.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 200px 200px 200px;
    margin-top: 10px;
    margin-bottom: 50px;
}

footer {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    background-color: #98D7C2;
    margin: 0px;
    margin-top: 80px;
    }

@media only screen and (min-width: 650px) {
    .content {
        width: 75%;
    }
    
    header h1 {
        width: 75%;
    }

    li {
        float: left;
      }

    ul {
        width: 75%;
      }

    .content h2 {
        font-size: 28px;
    }

  }

@media only screen and (min-width: 1025px) {
    .content {
        width: 55%;
    }

    .content h3 {
        font-size: 26px;
    }
    
    header h1 {
        width: 55%;
        font-size: 45px;
    }

    li {
        float: left;
      }

    ul {
        width: 55%;
      }

    .content h2 {
        font-size: 35px;
    }

    .column {
        float: left;
        width: 45%;
        padding-right: 5%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

  }